In [1]:
import pandas as pd
import os

# First we correlate matching bridge IDs from each year together in order to form a time series of bridge evaluations over time

In [2]:
NBI_df_list = []

directory = r'C:\Users\tobby\Documents\Descriptive_Predictive_Bridge_Management\El_Paso_NBI_data'
count = 0
for filename in os.listdir(directory):
    count += 1
    temp_df = pd.read_excel('El_Paso_NBI_data\\' + filename)
    NBI_df_list.append(temp_df)
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [3]:
NBI_df_list[0]

,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,PLACE_CODE_004,...,PROJ_NO,PROJ_SUFFIX,NBI_TYPE_OF_IMP,DTL_TYPE_OF_IMP,SPECIAL_CODE,STEP_CODE,STATUS_WITH_10YR_RULE,SUFFICIENCY_ASTERC,SUFFICIENCY_RATING,STATUS_NO_10YR_RULE
0,8,00000000000M501,1,6,1,107,0,5.0,67,1250,...,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN,98.0,0
1,8,00000000000M502,1,6,1,159,0,5.0,67,0,...,NaN,0.0,NaN,NaN,NaN,NaN,1,NaN,24.3,1
2,8,00000000000M509,1,6,1,163,0,5.0,7,392,...,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN,100.0,0
3,8,00000000000M606,1,6,1,204,0,5.0,83,0,...,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN,97.9,0
4,8,00000000000M607,1,6,1,204,0,5.0,83,0,...,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN,98.7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8928,8,TP-18-F,2,5,1,0,0,NaN,71,78610,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8929,8,WALSENBURG-2,2,5,1,0,0,NaN,55,82350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8930,8,WALSENBURG-3,2,5,1,0,0,NaN,55,82350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8931,8,WST18-14-J,2,5,1,0,0,NaN,59,83835,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8932,8,WST18-15-J,2,5,1,0,0,NaN,59,83835,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Wanted to get an idea of how many unique bridge IDs exist for the first evaluation year (1998)

In [4]:
len(NBI_df_list[0].groupby('STRUCTURE_NUMBER_008')['STRUCTURE_NUMBER_008'].nunique())

8335

In [5]:
NBI_df_list[0]['STRUCTURE_NUMBER_008'][0]

'00000000000M501'

In [6]:
NBI_df_list[0].loc[NBI_df_list[0]['STRUCTURE_NUMBER_008'] == NBI_df_list[0]['STRUCTURE_NUMBER_008'][8930]]

,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,PLACE_CODE_004,...,PROJ_NO,PROJ_SUFFIX,NBI_TYPE_OF_IMP,DTL_TYPE_OF_IMP,SPECIAL_CODE,STEP_CODE,STATUS_WITH_10YR_RULE,SUFFICIENCY_ASTERC,SUFFICIENCY_RATING,STATUS_NO_10YR_RULE
8930,8,WALSENBURG-3,2,5,1,0,0,NaN,55,82350,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
NBI_Evaluations_Time_Series_df = pd.DataFrame(data=temp_df.values, columns=temp_df.columns)
NBI_Evaluations_Time_Series_list = []

df = NBI_df_list[0]

count = 0

for index, row in df.iterrows():
    count += 1
    print(count)
#     if index == 1:
#         break
    
    start_year = 1998
    
#     print('first')
#     print(row['STRUCTURE_NUMBER_008'])
#     print(start_year)

    temp_df = NBI_df_list[0].loc[NBI_df_list[0]['STRUCTURE_NUMBER_008'] == row['STRUCTURE_NUMBER_008']]
    temp_df.insert(2, "EVALUATION_YEAR", [start_year], True)
    NBI_Evaluations_Time_Series_list.append(temp_df)

    for i in range(1, 22):

        start_year += 1

        if(row['STRUCTURE_NUMBER_008'] in NBI_df_list[i].values):
#             print('second')
#             print(NBI_df_list[i].loc[NBI_df_list[i]['STRUCTURE_NUMBER_008'] == row['STRUCTURE_NUMBER_008']]
#                                 ['STRUCTURE_NUMBER_008'])
#             print(start_year)
            
            temp_df = NBI_df_list[i].loc[NBI_df_list[i]['STRUCTURE_NUMBER_008'] == row['STRUCTURE_NUMBER_008']]
            temp_df.insert(2, "EVALUATION_YEAR", [start_year], True)
            NBI_Evaluations_Time_Series_list.append(temp_df)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [25]:
NBI_Evaluations_Time_Series_list[2]

,STATE_CODE_001,STRUCTURE_NUMBER_008,EVALUATION_YEAR,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,...,PROJ_NO,PROJ_SUFFIX,NBI_TYPE_OF_IMP,DTL_TYPE_OF_IMP,SPECIAL_CODE,STEP_CODE,STATUS_WITH_10YR_RULE,SUFFICIENCY_ASTERC,SUFFICIENCY_RATING,STATUS_NO_10YR_RULE
14,8,00000000000M501,2000,1,6,1,107.0,0,5.0,67,...,NaN,0.0,NaN,NaN,NaN,NaN,0,NaN,99.0,0

In [26]:
df_merged = pd.concat(NBI_Evaluations_Time_Series_list)

In [27]:
df_merged

,STATE_CODE_001,STRUCTURE_NUMBER_008,EVALUATION_YEAR,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,...,SUFFICIENCY_ASTERC,SUFFICIENCY_RATING,STATUS_NO_10YR_RULE,CAT10,CAT23,CAT29,SUBMITTED_BY,BRIDGE_CONDITION,LOWEST_RATING,DECK_AREA
0,8,00000000000M501,1998,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,98.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,8,00000000000M501,1999,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,98.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,8,00000000000M501,2000,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,99.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,8,00000000000M501,2002,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,98.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,8,00000000000M501,2003,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,98.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,8,00000000000M501,2004,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,98.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,8,00000000000M501,2005,1,6.0,1.0,NaN,0.0,5.0,67.0,...,NaN,98.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,8,00000000000M501,2006,1,6.0,1.0,NaN,0.0,5.0,67.0,...,NaN,98.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,8,00000000000M501,2007,1,6.0,1.0,NaN,0.0,5.0,67.0,...,NaN,98.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,8,00000000000M501,2008,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,98.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,8,00000000000M501,2009,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,98.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,8,00000000000M501,2010,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,98.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,8,00000000000M501,2011,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,100.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,8,00000000000M501,2012,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,100.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,8,00000000000M501,2013,1,6.0,1.0,107,0.0,5.0,67.0,...,,100.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,8,00000000000M501,2014,1,6.0,1.0,107,0.0,5.0,67.0,...,,100.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,8,00000000000M501,2015,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,99.9,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,8,00000000000M501,2016,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,99.9,0,G,NaN,NaN,NaN,NaN,NaN,NaN
32,8,00000000000M501,2017,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,99.9,0,G,7,337.31,NaN,NaN,NaN,NaN
32,8,00000000000M501,2018,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,99.9,0,G,7,337.31,NaN,NaN,NaN,NaN
32,8,00000000000M501,2019,1,6.0,1.0,107,0.0,5.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,62.0,G,7.0,337.31

# Secondly we localize weather stations to bridge IDs so that each bridge has a correlating weather station based on spatial distance

# Third we aggregate the weather station data by implementing annual averages for each data point to correlate to each bridge ID from each year